* {
  box-sizing: border-box;
}

#one {
  width: 100px;
  height: 100px;
  border: 2px solid red;
}

#two {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  position: relative;
  top: -30px;
  right: -70px;
}

#three {
  width: 100px;
  height: 100px;
  border: 2px solid green;
  position: relative;
  top: -60px;
  right: -140px;
}
