body {
  font-family: "Roboto";
}
h1 {
  color: blue;
  font-style: italic;
  text-align: center;
}
h2 {
  color: blue;
  font-style: italic;
  text-align: center;
}
img {
  border: solid 4px red;
}
nav {
  background-color: pink;
}
main {
  line-height: 1.5;
  text-indent: 16px;
}
p::first-letter {
  color: blue;
  font-size: 28px;
}
th:nth-child(1) {
  background: pink;
}
td:nth-child(1) {
  background: pink;
}
th:nth-child(2) {
  background: rgb(185, 185, 185);
}
td:nth-child(2) {
  background: rgb(185, 185, 185);
}
