header,
.main,
.left-menu.menu,
.content,
.right-menu,
footer {
    border: 2px solid black;
}

header,
footer {
    height: 80px;
}

.main {
    display: flex;
    height: 600px;
}

.left-menu,
.right-menu {
    width: 20%;
}

.content {
    width: 60%;
}


/* 
.left-menu,
.right-menu {
  flex-grow: 1;
} */

.left-menu,
.right-menu,
.content {
    margin: 16px;
}

.left-menu {
    margin-left: 0;
}

.right-menu {
    margin-right: 0;
}