* {
    box-sizing: border-box;
}

.flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    flex-flow: wrap;
    align-content: stretch;
    height: 100%;
    justify-content: flex-start;
}

.flex-item {
    border: 1px solid black;
    width: 64px;
    height: 64px;
    margin: 0px;
}

.flex-item-1 {
    flex-basis: 100%;
}

.flex-item-2 {}

.flex-item-3 {
    flex-grow: 2;
}

.flex-item-4 {}

.flex-item-5 {
    flex-basis: 100%;
}